.request-a-demo-button {
    background-color: #181a1f;
    border-color: rgb(63, 95, 251);
    border-width: 1px;
    color: white;
    font-family: 'DM Sans';
    width: 30%;
    margin-left: 20px;
    font-weight: 300;
    font-size: medium;
    padding-left: 5px;
    text-align: left;
  }
  
.request-a-demo-icon {
    color: white;
    fill: white;
    width: 9%;
    height: 50%;
    padding-top: 2px;
    border-color: blue;
  }