.landing-page-bold-text {
    color: white;
    font-size: xxx-large;
    font-family: 'DM Sans';
    font-weight: 700;
    line-height: '62px';
    float:left;
    text-align: left;
    margin-left: 5%;
    margin-top: 7.5%;
    width: 40%;
}