.landing-page-soft-text {
    color: rgb(219, 212, 212);
    font-size: medium;
    font-family: 'DM Sans';
    line-height: '26px';
    float: left;
    text-align: left;
    margin-top: 10%;
    width: 100%;  
}